#TOC {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  overflow:auto;
  margin: auto auto auto -15px;
}

#backTotop {
  position: fixed;
  left: 10px;
  top: 90%;;
  overflow:auto;
  margin: auto auto auto auto;
}

body {
  margin: auto;
  margin-left:210px; 
  line-height: 20px;
}